<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation Email</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Activate your account</h1>
        <p>
          Hello <%= user.name %>, Please click on the below button to activate your
          account
        </p>
        <p>Here is your activation Code : <%= activationCode %></p>
      </div>
    </div>
  </body>
</html>
